@{
    ViewBag.Title = "Home Page";
}
<div class=col-12>
    <p><h1>Hemos modificado nuestra página inicial</h1></p>
    <p>He añadido esta línea con el fin de modificar la estuctura de ficheros.</p>
</div>
